<div class="ad">ad</div>
<div class="container">
  <header>
    <h1>Gift Registry</h1>
    <p>
      Welcome to our gift registry. We are thrilled you can participate in our big event. Beyond sharing things with you, our wants are modest. To streamline things we have prepared the list below. A gift would be very kind but your participation is our foremost wish. 
    </p>
    <p>
      Thanks so much,<br />
        PLACEHOLDER_FOR_NAME
    </p>
    <blockquote>
      <p>
        <span class="strong">Instructions:</span> If you have purchased — or you plan to purchase — one of the gift items, simply click the 'Not Yet Claimed' button. The button will change color letting everyone else who visits this page that item is spoken for. In the event you change your mind, click the button again and the item will be made available to be claimed by someone else.
      </p>
      <p class="small">
        The list has been tested on several mobile devices and in several different internet browsers, but the tests have not been exhaustive, so if you experience difficulty claiming or unclaiming an item, then please try a different browser. If the problem persists — we apologize — please email PLACEHOLDER_FOR_ADMIN_EMAIL.
      </p>
    </blockquote>
    <hr />
  </header>
  <% @items.each do |item| %>
  <section>
    <div class="item group">
      <h2><%= item[:item_name] %></h2>
      <div class="left">
        <img src="<%= item[:item_url] %>">
      </div>
      <div class="right">
        <p>
          <%= item[:item_description] %>
        </p>
        <p>
          This item is available at 
        <a href="<%= item[:item_stockist_url] %> target="_blank"">
          <%= item[:item_stockist] %></a>
        </p>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch<%= item[:id] %>" class="onoffswitch-checkbox" id="myonoffswitch<%= item[:id] %>" checked>
          <label class="onoffswitch-label" for="myonoffswitch<%= item[:id] %>">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
          </label>
        </div>
      </div>
      </div>
      <hr />
  <% end %>
  </section>
  <footer>
    made in toronto :: <span title="Provided on an 'as is' basis, without warranty of any kind, either express or implied.">unwarranty</span> :: <span title="No permission is needed to copy, distribute, or modify the content of this site.">uncopyright</span>
  </footer>
</div>
